* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
}

@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");
:root {
  --welcome: #173146;
  --login: #99e6c7;
  --blak: #000;
  --fff: #fff;
  --ddd: #f8f8f8;
  --tshb3: #3dd598;
}
html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden !important;
  font-size: 10px;
}
body {
  font-family: "Almarai", sans-serif;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;

}

.container-fluid {
  padding: 0px;
  margin: 0px;
}
.sakhy{
  color: var(--fff);
  background-color: var(--welcome) !important;
  width: 100%;
  height: 100vh;
}
.Aler {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 70rem;
}
.Aler-re {
  height: 10rem;
  text-align: center;
  font-size: 7rem;
  line-height: 5rem;
}

.contte {
  width: 100%;
  padding: 2rem;
  height: 70vh;
  background-color: var(--login);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  font-size: 2rem;
  color: var(--fff);
}
h1 {
  color: var(--fff);
  background-color: var(--welcome);
  padding: 1rem;
  font-size: 2rem;
}
.ro {
  padding: 1rem;
  font-size: 2rem;
}
h3 {
  padding: 1rem;
  font-size: 2rem;
  color: var(--welcome);
}
